<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
        <div class="main">

            <div class="header">
                <img src="img/logo.png" alt="">
                <h1>Online Store</h1>
            </div>

            
            <div class="nav">
                <img src="img/Bread Crumbs.png" alt="">
            </div>


            <div class="side_bar">
                    <div class="side_bar__topmenu">
                            <div class="side_bar__upper-l">
                                <span>Filters</span>
                                <button><<</button>
                            </div>
                            <div class="side_bar__upper-r">
                                <span>7.618 found result</span>
                                <button><img src="img/heartw.png" alt=""></button>
                            </div>
                    </div>
                    
              
                
                <div class="side_bar__content">
                    <div class="side_bar__filters">
                        <form action="#">
                         <ul>
                             <li><p>Multi Range</p></li>
                             <li> <input type="radio" name="raz">$10 </li>
                             <li> <input type="radio" name="raz">$10-$100 </li>
                             <li> <input type="radio" name="raz">$100-$500 </li>
                             <li> <input type="radio" name="raz">$500 </li>
                             <li> <input type="radio" checked name="raz" >All </li>
                         </ul>
                        </form>
                         <hr>  
                          <form action="#">
                             <ul>
                                 <li><p>Category</p></li>
                                 <li> <input  type="checkbox" id="checkbox" name="category" value="checkbox">
                                     <label for="checkbox"> Cell Phones <span class="side_bar__filters--price" > 1900</span> </label>
                                 </li>
                                 <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                                     <label for="checkbox"> Computers & Tablets <span class="side_bar__filters--price" > 1820</span></label>
                                 </li>
                                 <li> <input type="checkbox"checked id="checkbox" name="category" value="checkbox">
                                     <label for="checkbox"> Cell Phone Accessories<span class="side_bar__filters--price" > 460</span></label>
                                 </li>
                                 <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                                     <label for="checkbox"> Appliances<span class="side_bar__filters--price" > 6556</span></label>
                                 </li>
                                 <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                                     <label for="checkbox"> Audio<span class="side_bar__filters--price" > 120</span></label>
                                 </li>
                                 <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                                     <label for="checkbox"> iPhone Accessories<span class="side_bar__filters--price" > 353</span></label>
                                 </li>
                                 <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                                     <label for="checkbox"> Cameras & Camcorders<span class="side_bar__filters--price" > 45</span></label>
                                 </li>
                                 <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                                     <label for="checkbox"> iPhone Cases & Clips<span class="side_bar__filters--price" > 456</span></label>
                                 </li>
                                 <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                                     <label for="checkbox"> TV & Home Theater<span class="side_bar__filters--price" > 55</span> </label>
                                 </li>
                                 <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                                     <label for="checkbox"> Small Kitchen Appliances<span class="side_bar__filters--price" > 10</span></label>
                                 </li>
                             </ul>
                         </form>
                         <hr>
                          <form action="#">
                             <ul>
                                 <li><p>Brand</p></li>
                                 <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                                     <label for="checkbox"> Insigni<span class="side_bar__filters--price" > 200</span></label>
                                 </li>
                                 <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                                     <label for="checkbox"> Samsung<span class="side_bar__filters--price" > 120</span></label>
                                 </li>
                                 <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                                     <label for="checkbox"> Apple<span class="side_bar__filters--price" > 320</span></label>
                                 </li>
                                 <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                                     <label for="checkbox"> HP<span class="side_bar__filters--price" > 32</span></label>
                                 </li>
                                 <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                                     <label for="checkbox"> Sony<span class="side_bar__filters--price" > 520</span></label>
                                 </li>
                                 <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                                     <label for="checkbox"> Metra<span class="side_bar__filters--price" > 55</span></label>
                                 </li>
                                 <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                                     <label for="checkbox"> Dyne<span class="side_bar__filters--price" > 120</span>
                                     </label>
                                 </li>
                                 <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                                     <label for="checkbox"> LG<span class="side_bar__filters--price" > 98</span>
                                     </label>
                                 </li>
                                 <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                                     <label for="checkbox"> Canon<span class="side_bar__filters--price" > 99</span>
                                     </label>
                                 </li>
                                 <li> <input type="checkbox" id="checkbox" name="category" value="checkbox">
                                     <label for="checkbox"> Speck<span class="side_bar__filters--price" > 575</span></label>
                                 </li>
                             </ul>
                         </form>
                        
                     </div>
                     

                     <div class="side_bar__products">
                        <div class="side_bar__products--longsearch">       
                                        <form action="/action_page.php">
                                            <input type="text" placeholder="Search" name="search">
                                            <button type="submit"><i class="fa fa-search"></i></button>
                                        </form>
                        </div>

                        <div class="side_bar__products--items">
                          


                            <div class="container">
                                <div class="container__card">
                
                                    <div class="container__card--img">
                                        <img src="img/apple-watch.png" alt="">
                                    </div>
                
                                   <div class="container__card__article">
                                        <div class="container__card__article--rating"> 3.4 <img src="img/star.png" alt=""></div>
                                        <div class="container__card__article--price"> $399</div>
                                   </div>
                
                                    <div class="container__card__info">
                                        <h2 >Apple Watch Series 4 GPS</h2>
                                        <p> Redesigned from scratch and completely revised. </p>
                                    </div>
                
                                    <div class="container__card__button">
                                        <button class="container__card__button--wishlist"> <img src="img/heart.png" alt="">  WISHLIST </button>
                                        <button class="container__card__button--addtocart"> <img src="img/basket.png" alt=""> ADD TO CART</button>
                                    </div>
                                    
                                </div>

                                <div class="container__card">
                
                                    <div class="container__card--img">
                                        <img src="img/iphone-x.png" alt="">
                                    </div>
                
                                   <div class="container__card__article">
                                        <div class="container__card__article--rating"> 3.4 <img src="img/star.png" alt=""></div>
                                        <div class="container__card__article--price"> $399</div>
                                   </div>
                
                                    <div class="container__card__info">
                                        <h2>Apple Watch Series 4 GPS</h2>
                                        <p> Redesigned from scratch and completely revised. </p>
                                    </div>
                
                                    <div class="container__card__button">
                                        <button class="container__card__button--wishlist"> <img src="img/heart.png" alt="">  WISHLIST </button>
                                        <button class="container__card__button--addtocart"> <img src="img/basket.png" alt=""> ADD TO CART</button>
                                    </div>
                                    
                                </div>
                
                                <div class="container__card">
                
                                    <div class="container__card--img">
                                        <img src="img/jbl-speaker.png" alt="">
                                    </div>
                
                                   <div class="container__card__article">
                                        <div class="container__card__article--rating"> 3.4 <img src="img/star.png" alt=""></div>
                                        <div class="container__card__article--price"> $399</div>
                                   </div>
                
                                    <div class="container__card__info">
                                        <h2>Apple Watch Series 4 GPS</h2>
                                        <p> Redesigned from scratch and completely revised. </p>
                                    </div>
                
                                    <div class="container__card__button">
                                        <button class="container__card__button--wishlist"> <img src="img/heart.png" alt="">  WISHLIST </button>
                                        <button class="container__card__button--addtocart"> <img src="img/basket.png" alt=""> ADD TO CART</button>
                                    </div>
                                    
                                </div>

                
                
                                <div class="container__card">
                
                                    <div class="container__card--img">
                                        <img src="img/iphone-x.png" alt="">
                                    </div>
                
                                   <div class="container__card__article">
                                        <div class="container__card__article--rating"> 3.4 <img src="img/star.png" alt=""></div>
                                        <div class="container__card__article--price"> $399</div>
                                   </div>
                
                                    <div class="container__card__info">
                                        <h2>Apple Watch Series 4 GPS</h2>
                                        <p> Redesigned from scratch and completely revised. </p>
                                    </div>
                
                                    <div class="container__card__button">
                                        <button class="container__card__button--wishlist"> <img src="img/heart.png" alt="">  WISHLIST </button>
                                        <button class="container__card__button--addtocart"> <img src="img/basket.png" alt=""> ADD TO CART</button>
                                    </div>
                                    
                                </div>

                                <div class="container__card">
                
                                    <div class="container__card--img">
                                        <img src="img/jbl-speaker.png" alt="">
                                    </div>
                
                                   <div class="container__card__article">
                                        <div class="container__card__article--rating"> 3.4 <img src="img/star.png" alt=""></div>
                                        <div class="container__card__article--price"> $399</div>
                                   </div>
                
                                    <div class="container__card__info">
                                        <h2>Apple Watch Series 4 GPS</h2>
                                        <p> Redesigned from scratch and completely revised. </p>
                                    </div>
                
                                    <div class="container__card__button">
                                        <button class="container__card__button--wishlist"> <img src="img/heart.png" alt="">  WISHLIST </button>
                                        <button class="container__card__button--addtocart"> <img src="img/basket.png" alt=""> ADD TO CART</button>
                                    </div>
                                    
                                </div>
                                
                                <div class="container__card">
                
                                    <div class="container__card--img">
                                        <img src="img/beats-headphones.png" alt="">
                                    </div>
                
                                   <div class="container__card__article">
                                        <div class="container__card__article--rating"> 3.4 <img src="img/star.png" alt=""></div>
                                        <div class="container__card__article--price"> $399</div>
                                   </div>
                
                                    <div class="container__card__info">
                                        <h2>Apple Watch Series 4 GPS</h2>
                                        <p> Redesigned from scratch and completely revised. </p>
                                    </div>
                
                                    <div class="container__card__button">
                                        <button class="container__card__button--wishlist"> <img src="img/heart.png" alt="">  WISHLIST </button>
                                        <button class="container__card__button--addtocart"> <img src="img/basket.png" alt=""> ADD TO CART</button>
                                    </div>
                                    
                                </div>

                                <div class="container__card">
                
                                    <div class="container__card--img">
                                        <img src="img/jbl-speaker.png" alt="">
                                    </div>
                
                                   <div class="container__card__article">
                                        <div class="container__card__article--rating"> 3.4 <img src="img/star.png" alt=""></div>
                                        <div class="container__card__article--price"> $399</div>
                                   </div>
                
                                    <div class="container__card__info">
                                        <h2>Apple Watch Series 4 GPS</h2>
                                        <p> Redesigned from scratch and completely revised. </p>
                                    </div>
                
                                    <div class="container__card__button">
                                        <button class="container__card__button--wishlist"> <img src="img/heart.png" alt="">  WISHLIST </button>
                                        <button class="container__card__button--addtocart"> <img src="img/basket.png" alt=""> ADD TO CART</button>
                                    </div>
                                    
                                </div>

                
                                <div class="container__card">
                
                                    <div class="container__card--img">
                                        <img src="img/macbook-pro.png" alt="">
                                    </div>
                
                                   <div class="container__card__article">
                                        <div class="container__card__article--rating"> 3.4 <img src="img/star.png" alt=""></div>
                                        <div class="container__card__article--price"> $399</div>
                                   </div>
                
                                    <div class="container__card__info">
                                        <h2>Apple Watch Series 4 GPS</h2>
                                        <p> Redesigned from scratch and completely revised. </p>
                                    </div>
                
                                    <div class="container__card__button">
                                        <button class="container__card__button--wishlist"> <img src="img/heart.png" alt="">  WISHLIST </button>
                                        <button class="container__card__button--addtocart"> <img src="img/basket.png" alt=""> ADD TO CART</button>
                                    </div>
                                    
                                </div>
                
                
                                <div class="container__card">
                
                                    <div class="container__card--img">
                                        <img src="img/ipad-pro.png" alt="">
                                    </div>
                
                                   <div class="container__card__article">
                                        <div class="container__card__article--rating"> 3.4 <img src="img/star.png" alt=""></div>
                                        <div class="container__card__article--price"> $399</div>
                                   </div>
                
                                    <div class="container__card__info">
                                        <h2>Apple Watch Series 4 GPS</h2>
                                        <p> Redesigned from scratch and completely revised. </p>
                                    </div>
                
                                    <div class="container__card__button">
                                        <button class="container__card__button--wishlist"> <img src="img/heart.png" alt="">  WISHLIST </button>
                                        <button class="container__card__button--addtocart"> <img src="img/basket.png" alt=""> ADD TO CART</button>
                                    </div>
                                    
                                </div>
                        </div>


                        <div class="pagination">
                            <a href="#"><</a>
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#"class="active">6</a>
                            <a href="#">7</a>
                            <a href="#">8</a>
                            <a href="#">9</a>
                            <a href="#">10</a>
                            <a href="#">></a>
                          </div>
                            
                        </div>
                    </div>
                    
                      
       
                </div>
                <div class="side_bar__lower_button">
                    <button>CLEAR ALL FILTERS</button>
                </div>
            </div>
        </div>
</body>
</html>















